<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/"><img src="assets/LogoKZAConnected-d.png" height="30" class="d-inline-block align-top"
                                        alt="check"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
          <button class="btn btn-outline-info " routerLink="/colleagues">
          <svg-icon src="assets/svg/person.svg"></svg-icon>
          Collega
          </button>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="open(content)">Login</button>
  </div>
</nav>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-block btn-primary" (click)="c('Close click')">Login</button>
  </div>
</ng-template>
