.card:hover {
  height: 280px;
  background-color: mediumturquoise;
  cursor: pointer;
}

.card{
  -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
  transition: height 2s;
  margin: 5px;
}
