<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Profile of ...</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div>first name: <b>{{colleague.firstname}}</b></div>
    <div>last name: <b>{{colleague.lastname}}</b></div>
    <div>Guild: {{colleague.guild}}</div>
    <div>Manager: {{colleague.manager}}</div>
    <br>
    <div>Top5 skills</div>
    <ol type="1">
      <li>{{ colleague.topfiveskill["1"]}}</li>
      <li>{{ colleague.topfiveskill["2"]}}</li>
      <li>{{ colleague.topfiveskill["3"]}}</li>
      <li>{{ colleague.topfiveskill["4"]}}</li>
      <li>{{ colleague.topfiveskill["5"]}}</li>
    </ol>
  </div>


  <div class="modal-footer">

    <button (click)="openShowcaseColleague(); c()" class="btn btn-outline-primary">
      View showcase
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<div class="card" (click)="open(content)">
  <img class="card-img-top img-fluid" style="max-width: 150px;" src="assets/LegoBatman.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center">{{colleague.firstname}}</h5>
  </div>
</div>


