<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="notice notice-info">
        <strong>SQL</strong> Handson SQL trainen
      </div>
      <div class="notice notice-info">
        <strong>PSM</strong> Professional Scrum Master
        ($datum)
      </div>
      <div class="notice notice-info">
        <strong>Security</strong> Hackerman
      </div>
    </div>


    <div class="col-md-1">
    </div>


    <div class="col-md-3">
      <div class="notice notice-info">
        <strong>SQL</strong> Handson SQL trainen
      </div>
      <div class="notice notice-info">
        <strong>PSM</strong> Professional Scrum Master
        ($datum)
      </div>
      <div class="notice notice-info">
        <strong>Security</strong> Hackerman
      </div>
    </div>


    <div class="col-md-1">
    </div>
    <div class="col-md-3">

    <div class="notice notice-info">
      <strong>SQL</strong> Handson SQL trainen
    </div>
    <div class="notice notice-info">
      <strong>PSM</strong> Professional Scrum Master
      ($datum)
    </div>
    <div class="notice notice-info">
      <strong>Security</strong> Hackerman
    </div>
    </div>
  </div>
</div>
