<div class="container">
  <br>
  <div class="row">
      <div *ngFor="let colleague of colleagues">
          <app-colleague-details [colleague]="colleague"></app-colleague-details>
      </div>
  </div>

</div>
