<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center text-uppercase">
        <h2>Top 5 Skills</h2>
      </div>
      <!-- //.text-center -->

      <div class="column-chart">
        <div class="legend legend-left hidden-xs">
          <h3 class="legend-title">ME</h3>
        </div>
        <!-- //.legend -->

        <div class="legend legend-right hidden-xs">
          <div class="item">
            <h4>Superhero</h4>
          </div>
          <!-- //.item -->

          <div class="item">
            <h4>Preety Good</h4>
          </div>
          <!-- //.item -->

          <div class="item">
            <h4>Good</h4>
          </div>
          <!-- //.item -->

          <div class="item">
            <h4>Newbie</h4>
          </div>
          <!-- //.item -->
        </div>
        <!-- //.legend -->

        <div class="chart clearfix">
          <div class="item" [ngStyle]="{'width':'20%'}" *ngFor="let skill of showcase.skills.topfiveskill">
            <div class="bar">
              <span class="percent" >{{skill.level}}</span>

              <div class="item-progress" [ngStyle]="{'height': skill.level*20+'%'}" data-percent="92">
                <span class="title">{{skill.skill}}</span>
              </div>
              <!-- //.item-progress -->
            </div>
            <!-- //.bar -->
          </div>
          <!-- //.item -->
        </div>
      </div>
      <br>
      <br>

      <div class="row">
        <div class="col-md-3 text-center">

          <h3>
            Technical
          </h3>
          <div class="card">
            <div class="col-md-3">
              <table class="table table-sm">
                <thead>
                <tr class="">
                  <th scope="col">Subject</th>
                  <th scope="col">Skill</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Selenium</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SoapUI</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SpringBoot</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-3">
              <table class="table table-sm">
                <thead>
                <tr>
                  <th scope="col">Subject</th>
                  <th scope="col">Skill</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Selenium</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SoapUI</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SpringBoot</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-3">
              <table class="table table-sm">
                <thead>
                <tr>
                  <th scope="col">Subject</th>
                  <th scope="col">Skill</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Selenium</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SoapUI</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SpringBoot</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-1">
        </div>


        <div class="col-md-3 text-center">
          <h3>
            Agile
          </h3>
          <div class="card">
            <div class="col-md-3">
              <table class="table table-sm">
                <thead>
                <tr >
                  <th scope="col"></th>
                  <th scope="col">Skill</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Selenium</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SoapUI</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SpringBoot</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-3">
              <table class="table table-sm">
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Skill</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Selenium</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SoapUI</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SpringBoot</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-3">
              <table class="table table-sm">
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Skill</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Selenium</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SoapUI</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SpringBoot</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


        <div class="col-md-1">
        </div>


        <div class="col-md-3 text-center">
          <h3>
            Business
          </h3>

          <div class="card">
            <div class="col-md-3">
              <table class="table table-sm">
                <thead>
                <tr class="">
                  <th scope="col">Subject</th>
                  <th scope="col">Skill</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Selenium</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SoapUI</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SpringBoot</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-3">
              <table class="table table-sm">
                <thead>
                <tr>
                  <th scope="col">Subject</th>
                  <th scope="col">Skill</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Selenium</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SoapUI</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SpringBoot</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-3">
              <table class="table table-sm">
                <thead>
                <tr>
                  <th scope="col">Subject</th>
                  <th scope="col">Skill</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Selenium</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SoapUI</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                <tr>
                  <td>SpringBoot</td>
                  <td>
                    <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- //.col-md-6 -->
</div>
<!-- //.row -->

<!-- //.container -->
