<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="display-4">{{ showcase.personalinfo.firstname }} {{ showcase.personalinfo.lastname }}</h1>
        <p class="lead">China, officially the People's Republic of China (PRC), is a unitary sovereign state in East
          Asia and the world's most populous country, with a population of around 1.404 billion.[13] Covering
          approximately 9.6 million square kilometres (3.7 million square miles), it is also the world's second-largest
          country by land area[22] and third- or fourth-largest by total area,[j] also has the most neighbor countries
          in the world. Governed by the Communist Party of China, it exercises jurisdiction over 22 provinces, five
          autonomous regions, four direct-controlled municipalities (Beijing, Tianjin, Shanghai, and Chongqing), and the
          special administrative regions of Hong Kong and Macau, also claiming sovereignty over Taiwan.</p>
        <div class="row">


          <div class="col-md-4">

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top img-fluid" style="max-width: 225px;" src="assets/LegoBatman.png" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title text-center">Batman</h5>
            <span class="text-info">
              06-15884554
            </span>
            <div>
              batman@kza.nl
            </div>
            <span class="badge badge-info "><h6>Test Automation Gilde</h6></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-start">
    <div class="col-xl-9 content">
      <div id="section1">
        <h1>Opdrachten</h1>
        <hr>
        <app-showcase-assignments [showcase]="showcase"></app-showcase-assignments>
      </div>
      <br>
      <br>
      <br>
      <div id="section2">
        <h1>Skils</h1>
        <hr>
        <app-showcase-skills [showcase]="showcase"></app-showcase-skills>
      </div>
      <br>
      <br>
      <br>
      <div id="section3">
        <h1>Courses</h1>
        <hr>
        <app-showcase-courses></app-showcase-courses>
      </div>
      <br>
      <br>
      <br>

    </div>
    <div class="col-md-2">
      <div class="col-xs-3 sticky-top" [class.fixed]="relative">
        <div class="btn-group-vertical btn-group-toggle" appScrollSpy>
          <button type="button" class="btn btn-info"><a href="#section1">Opdrachten</a></button>
          <button type="button" class="btn btn-info"><a href="#section2">Skills</a></button>
          <button type="button" class="btn btn-info"><a href="#section3">Trainingen</a></button>
          <button type="button" class="btn btn-info"><a href="#section4">Section 4</a></button>
        </div>

      </div>
    </div>
  </div>
</div>

