<div class="container">
  <div class="qa-message-list" id="wallmessages">
    <div class="message-item" *ngFor="let assignment of showcase.assignments let i = index" [attr.data-index]="i">
      <div class="message-inner">
        <div class="message-head clearfix">

          <div class="row">
            <div class="col-4">
              <div class="avatar pull-left"><a href="./index.php?qa=user&qa_1=Oleg+Kolesnichenko"><img
                src="http://vanervenverzekeringen.nl/wp-content/uploads/2016/11/ABN-Amro-logo.png"
                style="max-height: 25px;"></a></div>
              <div class="user-detail">
                <h5 class="handle">{{ assignment.name}}</h5>
              </div>
            </div>
            <div class="col-4">
              <h5>{{ assignment.role}}</h5>
            </div>
            <div class="col-4">
              <h5>{{ assignment.periodfrom}} until {{ assignment.periodto}}</h5>
              <p> {{ assignment.duration}} maanden</p>
            </div>
          </div>
        </div>
        <div class="qa-message-content" (click)="changeDetailsView(i)">
          {{ assignment.shortdescr}}
          <ngb-accordion >
            <ngb-panel title="Details">
              <ng-template ngbPanelContent>
                <h5>Details</h5>
                {{ assignment.longdescr}}
              </ng-template>
            </ngb-panel>
          </ngb-accordion>

        </div>
      </div>

    </div>
  </div>
</div>
