/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}
ngb-accordion > div {
  border: none!important;
  background-color: white!important;
}

ngb-accordion > div > div.card-header{
  border: none!important;
  background-color: white!important;
}
